In [1]:
import pandas as pd

In [2]:
sozluk={"isim":['Mete','Ferhat','Batu','Ebru','Buğra','Emin'],
       "Yaş":[35,40,28,21,38,41],
       "CRP":[10,3,12,300,1,3]}

In [3]:
sozluk

{'isim': ['Mete', 'Ferhat', 'Batu', 'Ebru', 'Buğra', 'Emin'],
 'Yaş': [35, 40, 28, 21, 38, 41],
 'CRP': [10, 3, 12, 300, 1, 3]}

In [4]:
dataFrame = pd.DataFrame(sozluk)

In [5]:
dataFrame

     isim  Yaş  CRP
0    Mete   35   10
1  Ferhat   40    3
2    Batu   28   12
3    Ebru   21  300
4   Buğra   38    1
5    Emin   41    3

In [61]:
sozluk

{'isim': ['Mete', 'Ferhat', 'Batu', 'Ebru', 'Buğra', 'Emin'],
 'Yaş': [35, 40, 28, 21, 38, 41],
 'CRP': [10, 3, 12, 300, 1, 3]}

In [62]:
dataFrame = pd.DataFrame(sozluk)

In [63]:
dataFrame

     isim  Yaş  CRP
0    Mete   35   10
1  Ferhat   40    3
2    Batu   28   12
3    Ebru   21  300
4   Buğra   38    1
5    Emin   41    3

In [64]:
dataFrame.columns

Index(['isim', 'Yaş', 'CRP'], dtype='object')

In [65]:
dataFrame.tail(10)

     isim  Yaş  CRP
0    Mete   35   10
1  Ferhat   40    3
2    Batu   28   12
3    Ebru   21  300
4   Buğra   38    1
5    Emin   41    3

In [66]:
dataFrame['Yaş']

0    35
1    40
2    28
3    21
4    38
5    41
Name: Yaş, dtype: int64

In [67]:
dataFrame['ALT']=[70,100,50,5,1,15]
dataFrame.head()

     isim  Yaş  CRP  ALT
0    Mete   35   10   70
1  Ferhat   40    3  100
2    Batu   28   12   50
3    Ebru   21  300    5
4   Buğra   38    1    1

In [68]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isim    6 non-null      object
 1   Yaş     6 non-null      int64
 2   CRP     6 non-null      int64
 3   ALT     6 non-null      int64
dtypes: int64(3), object(1)
memory usage: 320.0+ bytes

In [69]:
dataFrame['Hastalık Durumu']=[1,1,0,1,0,1]

In [70]:
dataFrame

     isim  Yaş  CRP  ALT  Hastalık Durumu
0    Mete   35   10   70                1
1  Ferhat   40    3  100                1
2    Batu   28   12   50                0
3    Ebru   21  300    5                1
4   Buğra   38    1    1                0
5    Emin   41    3   15                1

In [71]:
dataFrame.columns

Index(['isim', 'Yaş', 'CRP', 'ALT', 'Hastalık Durumu'], dtype='object')

In [72]:
dataFrame.loc[:,"ALT"]

0     70
1    100
2     50
3      5
4      1
5     15
Name: ALT, dtype: int64

In [73]:
dataFrame.loc[:2,"ALT"]

0     70
1    100
2     50
Name: ALT, dtype: int64

In [74]:
dataFrame.loc[:,"CRP":"ALT"] #BU LOC FORMATINI ÇOK KULLANACAĞIZ BİZE VERİLERİ GETİRİR

   CRP  ALT
0   10   70
1    3  100
2   12   50
3  300    5
4    1    1
5    3   15

In [75]:
dataFrame.loc[:,"Yaş":"ALT"]

   Yaş  CRP  ALT
0   35   10   70
1   40    3  100
2   28   12   50
3   21  300    5
4   38    1    1
5   41    3   15

In [76]:
dataFrame.loc[::-1,:]

     isim  Yaş  CRP  ALT  Hastalık Durumu
5    Emin   41    3   15                1
4   Buğra   38    1    1                0
3    Ebru   21  300    5                1
2    Batu   28   12   50                0
1  Ferhat   40    3  100                1
0    Mete   35   10   70                1

In [77]:
dataFrame['isim']

0      Mete
1    Ferhat
2      Batu
3      Ebru
4     Buğra
5      Emin
Name: isim, dtype: object

In [78]:
dataFrame.loc[:,:"isim"] #bir datanın getirtme yöntemi

     isim
0    Mete
1  Ferhat
2    Batu
3    Ebru
4   Buğra
5    Emin

In [79]:
#filtreleme
#bu yapyı kullanmak tamamen data analizi için neden 1 neden 0 geldi
dataFrame.describe() #modunda yaşı 21den büyük falan bunlar gelsin bi bakarız

             Yaş         CRP         ALT  Hastalık Durumu
count   6.000000    6.000000    6.000000         6.000000
mean   33.833333   54.833333   40.166667         0.666667
std     7.833688  120.185551   39.927017         0.516398
min    21.000000    1.000000    1.000000         0.000000
25%    29.750000    3.000000    7.500000         0.250000
50%    36.500000    6.500000   32.500000         1.000000
75%    39.500000   11.500000   65.000000         1.000000
max    41.000000  300.000000  100.000000         1.000000

In [80]:
dataFrame.Yaş>32.16

0     True
1     True
2    False
3    False
4     True
5     True
Name: Yaş, dtype: bool

In [81]:
filtre = dataFrame['Yaş']>35

In [82]:
yeniData= dataFrame[filtre]
yeniData

     isim  Yaş  CRP  ALT  Hastalık Durumu
1  Ferhat   40    3  100                1
4   Buğra   38    1    1                0
5    Emin   41    3   15                1

In [83]:
filtre2=dataFrame.ALT>40.16
yeniData2=yeniData[filtre2]
yeniData2

C:\Users\muham\AppData\Local\Temp\ipykernel_11332\1122552669.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  yeniData2=yeniData[filtre2]

     isim  Yaş  CRP  ALT  Hastalık Durumu
1  Ferhat   40    3  100                1

In [84]:
filtre1=dataFrame.Yaş>dataFrame.Yaş.mean()
filtre2=dataFrame.CRP> dataFrame.CRP.mean()
yeniData= dataFrame[filtre1&filtre2]
yeniData

Empty DataFrame
Columns: [isim, Yaş, CRP, ALT, Hastalık Durumu]
Index: []

In [85]:
dataFrame

     isim  Yaş  CRP  ALT  Hastalık Durumu
0    Mete   35   10   70                1
1  Ferhat   40    3  100                1
2    Batu   28   12   50                0
3    Ebru   21  300    5                1
4   Buğra   38    1    1                0
5    Emin   41    3   15                1

In [86]:
dataFrame.drop(['Hastalık Durumu']) #SİLMEK İSTEDİĞİMİZ VERİ İÇİN BU MEDODU DROP KULLANIRIZ
                                    # bu sütün datası olduğu için hata verir satır mı sütün mü anlamaz
                                    # bu yüzden axix=1 komutu ekleriz 1 sütün 0 satır anlamına gelir axix 1 ise sütünü belirtir

KeyError: "['Hastalık Durumu'] not found in axis"

In [87]:
dataFrame.drop(['Hastalık Durumu'],axis=1)

     isim  Yaş  CRP  ALT
0    Mete   35   10   70
1  Ferhat   40    3  100
2    Batu   28   12   50
3    Ebru   21  300    5
4   Buğra   38    1    1
5    Emin   41    3   15

In [88]:
dataFrame  # drop kullandık fakat silmedi 2 yöntemi var bu kodu dataFrame atamamız lazım

     isim  Yaş  CRP  ALT  Hastalık Durumu
0    Mete   35   10   70                1
1  Ferhat   40    3  100                1
2    Batu   28   12   50                0
3    Ebru   21  300    5                1
4   Buğra   38    1    1                0
5    Emin   41    3   15                1

In [89]:
dataFrame=dataFrame.drop(['Hastalık Durumu'],axis=1) # dataframe kaydettik bunu

In [90]:
dataFrame  #silinmiş oldu bu 1.yöntem

     isim  Yaş  CRP  ALT
0    Mete   35   10   70
1  Ferhat   40    3  100
2    Batu   28   12   50
3    Ebru   21  300    5
4   Buğra   38    1    1
5    Emin   41    3   15

In [91]:
# 2. yöntem ise çokkkk önemliiiii 
dataFrame.drop(['ALT'],axis=1,inplace=True)

In [92]:
dataFrame

     isim  Yaş  CRP
0    Mete   35   10
1  Ferhat   40    3
2    Batu   28   12
3    Ebru   21  300
4   Buğra   38    1
5    Emin   41    3

In [93]:
dataFrame.columns

Index(['isim', 'Yaş', 'CRP'], dtype='object')

In [97]:
ort=dataFrame.CRP.mean()
ort

54.833333333333336

In [98]:
dataFrame['Hastalık Durumu']=["Hasta" if ort<i else "Hasta Değil" for i in dataFrame.CRP]
dataFrame

     isim  Yaş  CRP Hastalık Durumu
0    Mete   35   10     Hasta Değil
1  Ferhat   40    3     Hasta Değil
2    Batu   28   12     Hasta Değil
3    Ebru   21  300           Hasta
4   Buğra   38    1     Hasta Değil
5    Emin   41    3     Hasta Değil

In [99]:
dataFrame['Hastalık Durumu']=["Hasta" 
if ort<i 
else "Hasta Değil" 
for i in dataFrame.CRP]
dataFrame

     isim  Yaş  CRP Hastalık Durumu
0    Mete   35   10     Hasta Değil
1  Ferhat   40    3     Hasta Değil
2    Batu   28   12     Hasta Değil
3    Ebru   21  300           Hasta
4   Buğra   38    1     Hasta Değil
5    Emin   41    3     Hasta Değil